@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar-dark.fixed-top .nav-link{
    color: #ffffee;
}
.navbar-light.fixed-top .nav-link{
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light.fixed-top .btn-outline-warning{
    border-color: #021B79 !important;
    color: #021B79 !important;
}
.main {
    background: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item{
    background: url('../images/blue-brushstrokes-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*
.carousel-caption{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}*/
.wrapper{
    background: url('../images/blue-brushstrokes-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.content-wrapper{
    background-color: rgba(255,255,255, 0.6);
}
.bg-white{
    background-color: rgba(255,255,255, 0.7) !important;
}
.my-image{
    position: absolute;
    top: -100px;
    left: 10px;
}
body {
    font-family: 'Poppins', sans-serif;
}

.dark {
    min-height: 100vh;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
    color: white;
}
.carousel-section{
    min-height: 80vh;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
    color: white;
}
.carousel-item h1{
    font-weight: 300;
    text-transform: uppercase;
}
.carousel-item p{
    font-weight: 300;
    font-size: 1.3em;
}
.carousel-section .btn{
    border-radius: 0px;
}

.dark h3 {
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
}
a{
    text-decoration: none;
}
a:hover .alert{
    border-color: #021B79 !important;
    color: #212529;
}
/*
.dark p{
    font-size: 1.4em;
}*/

.dark .btn {
    border-radius: 0px;
    margin-right: 1em;
}

.btn {
    padding: 0.8em 2em;
}
.table .btn{
    padding: 0.4em 1em;
}

.btn-primary {
    background-color: #021B79;
    border-color: #021B79;
}

.btn-outline-primary {
    color: #021B79;
    border-color: #021B79;
}

.text-primary {
    color: #021B79 !important;
}

.bg-primary {
    background-color: #021B79 !important;
}

.btn-warning {
    background-color: #ff6a00;
    border-color: #ff6a00;
    color: white;
}

.btn-outline-warning {
    color: #ff6a00;
    border-color: #ff6a00;
}

.text-warning {
    color: #feb47b !important;
    font-weight: 300;
}

.btn-white {
    background-color: #ffffff;
    border-color: #ffffff;
}
.btn-white:hover{
    background-color: #ffffee;
    color: #ff6a00;
}
.btn-outline-warning {
    color: #ffffff;
    border-color: #ffffff;
}
.dz-remove{
    text-decoration: none !important;
    /*color: #ff6a00 !important;*/
    background-color: #ff6a00;
    padding: 0.5em 1em;
    margin-top: 0.4em;
    border-radius: 5px;
    border: 1px solid #ff6a00 !important;
}
.dz-remove:hover{
    text-decoration: none !important;
    color: #ff6a00 !important;
    background-color: #fff;
}

/*
label{
    padding-bottom: 0.5em;
    padding-top: 0.8em;
}*/
textarea.form-control{
    border-color: #021B79;
}
input.form-control, select.form-control, .select2-container .select2-selection--single {
    border-color: #021B79;
    height: 48px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--single .select2-selection__clear,
.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 48px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 48px;
}
.select2-container--default .select2-dropdown .select2-search__field,
.select2-container--default .select2-search--inline .select2-search__field{
    outline: 0;
    border-width: 0 !important;
}
.select2-container--default .select2-dropdown .select2-search__field:focus,
.select2-container--default .select2-search--inline .select2-search__field:focus {
    outline: 0;
    border-width: 0 !important;
}
.form-control:focus {
    box-shadow: none;
}

h1 {
    font-weight: 800;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #FF6C02/*#333399*/
}
[class*=sidebar-dark-] {
    background-color:  #000428
}
.small-box1{
    background-color: #072A40;
    color: #fff;
}
.small-box2{
    background-color: #178CA4;
    color: #fff;
}
.small-box3{
    background-color: #18B7BE;
    color: #fff;
}
.small-box4{
    background-color: #5A8100;
    color: #fff;
}
a{
    color: #072A40;
}
a:hover{
    color: #333399;
}
a.btn{
    text-decoration: none !important;
}
.dropdown-toggle::after {
    content: none;
}
.table td {
    vertical-align: middle;
}
/*.dropdown .profile{
    border: 1px solid #333399;
    border-radius: 100px;
}

.dropdown .profile i{
    background-color: #333399;
    color: #feb47b;
    padding: 0.3em;
    border-radius: 100px;
}
.dropdown a{
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
}*/

.user-name{
    font-weight: 600;
    font-size: 1.3em;
}
.my-btn{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, -50%);
}
.card{
    background-color: #ffffff75;
}
.table {
    border-collapse:separate;
    border-spacing: 0em 0.4em !important;
}
.table tr td{
    background-color: #fff !important;
}
.table tr td{
    border-width: 0;
}

tr td:first-child { border-top-left-radius: 10px; }
tr td:last-child { border-top-right-radius: 10px; }

tr td:first-child { border-bottom-left-radius: 10px; }
tr td:last-child { border-bottom-right-radius: 10px; }

.my-div{
    height: 40px;
    width: 40px;
    background-color: #ddd;
    border-radius: 50%;
}
.btn-pill{
    border-radius: 100px;
}

/*new styles*/
body {
    font-family: "Poppins";
}

.navbar-dark .nav-link {
    color: #fff;
}

.navbar {
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
}

.bg {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.dark {
    /*background: #22092C d1;*/
    background: rgba(0, 0, 0, 0.8);
    background: -webkit-linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
    min-height: 100vh;
}

.bg-primary {
    background-color: #22092C !important;
}

.bg-warning {
    background-color: #FF6C22 !important;
    border-color: #FF6C22 !important;
}

.btn-warning {
    background-color: #FF6C22 !important;
}

.text-warning {
    color: #FF6C22 !important;
}

table.border-end {
    border-color: #22092C !important;
    border-width: 5px !important;
}

.navbar .btn {
    border-radius: 100px;
}

.btn-primary {
    background-color: #22092C !important;
    border-color: #22092C !important;
}

.text-primary {
    color: #22092C !important;
}

.big,
.very-big {
    /*color: #F09819;*/
    font-weight: bold;
}

.big {
    font-size: 2.5em;
    font-weight: bolder;
    text-transform: uppercase;
    color: #fff;
}

.very-big {
    font-size: 3em;
}

.bg p {
    margin-top: 2em;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
}

.dark .btn-primary {
    /*background-color: #F09819 !important;
    border-color: #F09819 !important;*/
    border-radius: 100px;
    padding: 0.6em 2em;
}

.book-flight {
    margin-top: -10vh;
}

.login {
    background-image: url('../images/flight.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.background {
    background: rgba(255, 255, 255, 0.9);
    background: -webkit-linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
    /*min-height: 90vh;*/
}

.login h3 {
    font-weight: bold;
}

/*
.form-control{
    border-color: #182848 !important;
    border-width: 2px;
    font-size: 1em;
    background-color: transparent;
}*/
.form-control:focus {
    box-shadow: none;
}

.select2-container--default .select2-selection--single,
input.form-control {
    height: 40px;
    /*border-width: 2px;*/
}

.carousel-inner {
    border-radius: 5px;
}
/*
.card-img-top {
    height: 40vh;
    object-fit: cover;
}*/

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #FF6C22;
    font-weight: bold;
}

.bg-white {
    background-color: #fff !important;
}

.bold {
    font-weight: bold;
}
.header-text{
    font-weight: bold;
    font-size: 3em;
}
.header-paragraph{
    font-size: 1.3em;
}
.btn-round{
    border-radius: 100px;
}
.footer{
    background-color: #2b2c30;
    color: #fff;
}
.footer h5{
    font-weight: bold;
}
.footer .copyright{
    background-color: #191a1c;
}
.myCircle {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 100%;
}
.navbar{
    transition: background-color 0.5s ease-in-out;
}
.no-bold{
    font-weight: 300;
}
.counter {
    margin: 20px;
    opacity: 1; /* Initially hidden */
    transform: translateY(20px); /* Initially translate down to give an enter animation effect */
    transition: opacity 1s, transform 1s;
    font-size: 3em;
}
.myCircleDiv {
    height: 50px;
    width: 50px;
    background-color: #000428;
    border: 1px solid #fff;
    border-radius: 100%;
}
